<table>
	<thead>
		<th> Users Following &emsp;</th> 
		<th> Profile Link </th>
	</thead>
	<tbody>
		{{#follow}}
		<tr>
			<td>{{this.username}}</td>
			<td><a href={{this.url}}> Link to profile</a></td>
		</tr>
		{{/follow}}
	</tbody>
<table>

<br></br>
<br></br>

<form method = 'POST' action = '/newfollow'>
	<p>Enter a user to follow: <input type='text' name='newfollow'></p>
	<input type='submit'>
</form>

<br></br>

<a href=/profile/{{username}}> Go back to your profile</a> 

<br></br>

<a href ='/logout'>Logout</a>