<!DOCTYPE html>
<head>
  <title>{{webtitle}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>

<body>
		<div class = 'jumbotron'>
			<div class = 'container'>
				<h1>Social</h1>
				<br><br>
				<h3>{{error}}</h3>
			</div>
		</div>
		<div class = 'container'>
			{{{body}}}			
		</div>
</body>

</html>